logisim-evolution-3.8.0-all*
interpreter/.vs/
interpreter/VS/.vs
interpreter/VS/interpreter logisim evolution/.vs
interpreter/VS/interpreter logisim evolution/x64
interpreter/VS/interpreter logisim evolution/*.sln
interpreter/VS/interpreter logisim evolution/interpreter logisim evolution/x64
interpreter/VS/interpreter logisim evolution/interpreter logisim evolution/*.vcxproj*
asm/*
!asm/asm_example.txt
asm_output/*
!asm_output/example